ul{
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ol{
  border-width: 1px 1px 0 1px;
  border-style:  solid;
 
}